<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
    <main class="container-fluid p-5">
        <div class="row gy-5 normal-font col-10 offset-1">
            <select id="course" name="course" class="col-4">
                <option value="all">Хамма курслар</option>
                <% course.forEach(element => {%><option value="<%=element%>"><%=element%></option><%}); %>
            </select>
            <input type="search" class="col-4 offset-3" id="search">
            <button id="btn-search" class="btn col-1 btn-primary text-center">Qidirish!</button>
        </div>
        <div class="row normal-font">
            <div class="col-10 offset-1 tablestart" id="table">
                <div class="row thead align-items-center">
                    <div class="col-2 text-center">Фамилия Исм</div>
                    <div class="col-3 text-center">Курс</div>
                    <div class="col-2 text-center">Телефон</div>
                    <div class="col-2 text-center">Реклама</div>
                    <div class="col-2 text-center">Сана</div>
                </div>
                <% if(results){ %>
                    <% for(let i = 0;i<results.length; i++){ %>
                    <div class="row tr align-items-center" data-id="<%=results[i].ID%>">
                        <div class="col-2 text-center names"><%= results[i].LastName + " " +  results[i].FirstName %></div>
                        <div class="col-3 text-center"><%=results[i].Course%></div>
                        <% let phone =  JSON.parse(results[i].Phone) %>
                        <div class="col-2 text-center" title="
                         <% if(phone[1]){ %>
                            <%= phone[1].slice(5) %>
                            <% }else{ %>
                            <%= 'ikkinchi nomer berilmagan' %>
                            <% } %>
                        "><%= phone[0].slice(5) %></div>
                        <div class="col-2 text-center">
                                <%= results[i].Advertising %>
                        </div>
                        <div class="col-2 text-center"><%= results[i].time.toLocaleString().slice(0,10) %></div>
                        <div class="col-1 row g-0">
                            <button class="btn col-4 px-0 checker" type=""><input type="checkbox"></button>
                            <button type="button" class="col-4 btn px-0 edit" id="reset"></button>
                            <button type="button" class="col-4 btn px-0 delete" id="delete"></button>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </main>
    <script src="/script/checked.js"></script>
    <script src="/script/delete.js"></script>
    <script src="/script/show.js"></script>
</body>
</html>