<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
    <main class="container-fluid">
        <div class="row normal-font">
            <div class="col-10 offset-1 tablestart">
                <div class="row thead align-items-center">
                    <div class="col-2 text-center">Фамилия Исм</div>
                    <div class="col-3 text-center">Курс</div>
                    <div class="col-2 text-center">Телефон</div>
                    <div class="col-2 text-center">Реклама</div>
                    <div class="col-2 text-center">Сана</div>
                </div>
                <% if(date.students){ %>
                    <% for(let i = 0;i<date.students.length; i++){ %>
                    <div class="row tr align-items-center" data-id="<%=i%>">
                        <div class="col-2 text-center"><%= date.students[i].secondname + " " +  date.students[i].firstname %></div>
                        <div class="col-3 text-center">
                            <% if(date.students[i].course == 'etc'){ %>
                                <%= date.students[i].courseetc %>
                                <% } else{ %>
                                    <%= date.students[i].course %>
                                    <% } %>
                        </div>
                        <div class="col-2 text-center" title="
                        <% if(date.students[i].phone2){ %>
                            <%= date.students[i].phone2 %>
                            <% } else{ %>  
                                <%= "ikkinchi raqam berilmagan" %>
                                <% } %>
                        "><%= date.students[i].phone.slice(5) %></div>
                        <div class="col-2 text-center">
                            <% if(date.students[i].adv == 'etc'){ %>
                                <%= date.students[i].advetc %>
                                <% } else{ %>  
                                    <%= date.students[i].adv %>
                                    <% } %>
                        </div>
                        <div class="col-2 text-center"><%= date.students[i].data.slice(0,10) %></div>
                        <div class="col-1 row g-0">
                            <button class="btn col-4 px-0 checker" type=""><input type="checkbox"></button>
                            <button type="button" class="col-4 btn px-0 edit" id="reset"></button>
                            <button type="button" class="col-4 btn px-0 delete" id="delete"></button>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </main>
    <script src="/script/checked.js"></script>
    <script src="/script/delete.js"></script>
</body>
</html>
<!--<div class="row">
    <div class="col-3 offset-1">Шавкатов Жавохир</div>
    <div class="col-2">Хамширалик</div>
    <div class="col-2">(94) 608-24-42</div>
    <div class="col-1">Инсаг</div>
    <div class="col-2">01.12.2023</div>
</div>-->