<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
    <main class="container-fluid">
        <div class="row normal-font">
            <div class="col-10 offset-1 tablestart">
                <div class="row thead">
                    <div class="col-3 text-center">Фимилия Исм</div>
                    <div class="col-3 text-center">Курс</div>
                    <div class="col-2 text-center">Телефон</div>
                    <div class="col-2 text-center">Реклама</div>
                    <div class="col-2 text-center">Сана</div>
                </div>
                <% if(date.students){ %>
                    <% date.students.forEach((student)=>{ %>
                    <div class="row tr">
                        <div class="col-3 text-center"><%= student.secondname + " " + student.firstname %></div>
                        <div class="col-3 text-center"><%= student.course %></div>
                        <div class="col-2 text-center"><%= student.phone.slice(5) %></div>
                        <div class="col-2 text-center"><%= student.adv %></div>
                        <div class="col-2 text-center"><%= student.data.slice(0,10) %><input type="checkbox"></div>
                    </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </main>
    <script src="/checked.js"></script>
</body>
</html>
<!--<div class="row">
    <div class="col-3 offset-1">Шавкатов Жавохир</div>
    <div class="col-2">Хамширалик</div>
    <div class="col-2">(94) 608-24-42</div>
    <div class="col-1">Инсаг</div>
    <div class="col-2">01.12.2023</div>
</div>-->